@page "/"
@inject ProductService ProductService
@rendermode InteractiveServer
@inject SessionService SessionService

<div>
    <h1>лучшие товары для вас</h1>
    <h2>приглашаем вас на шопинг!</h2>
</div>